In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:\\Users\\LENOVO\\Dropbox\\miniProject\\ave2.csv")
df.head()

   Unnamed: 0                                                 V1        V2
0           1  Blood14_B08_merged_L001_R1_GRCm38_bismark_bt2....  0.064449
1           2  Blood14_B08_merged_L001_R2_GRCm38_bismark_bt2....  0.066077
2           3  Blood14_C02_merged_L001_R1_GRCm38_bismark_bt2....  0.077837
3           4  Blood14_C02_merged_L001_R2_GRCm38_bismark_bt2....  0.075245
4           5  Blood14_C11_merged_L001_R1_GRCm38_bismark_bt2....  0.073350

In [3]:
del df["Unnamed: 0"]
print(df)

                                                    V1        V2
0    Blood14_B08_merged_L001_R1_GRCm38_bismark_bt2....  0.064449
1    Blood14_B08_merged_L001_R2_GRCm38_bismark_bt2....  0.066077
2    Blood14_C02_merged_L001_R1_GRCm38_bismark_bt2....  0.077837
3    Blood14_C02_merged_L001_R2_GRCm38_bismark_bt2....  0.075245
4    Blood14_C11_merged_L001_R1_GRCm38_bismark_bt2....  0.073350
..                                                 ...       ...
139  lane8_DN549335_Blood24_H02_TACATACA_L008_EpiAg...  0.089607
140  lane8_DN549335_Blood24_H05_ATTAGCAA_L008_EpiAg...  0.083409
141  lane8_DN549335_Blood24_H05_ATTAGCAA_L008_EpiAg...  0.094410
142  lane8_DN549335_Blood24_H08_TATGGACG_L008_EpiAg...  0.094467
143  lane8_DN549335_Blood24_H08_TATGGACG_L008_EpiAg...  0.095523

[144 rows x 2 columns]

In [4]:
print(df.iat[0,0])

Blood14_B08_merged_L001_R1_GRCm38_bismark_bt2.deduplicated.bismark_intersect_group

In [5]:
import re
def extract_property(text):
    match = re.search(r'EpiAge(\d+)', text)
    if match:
        return match.group() + ".cram"
    return None

# Extract the values and save them in a list
extracted_values = ([extract_property(text) for text in df['V1']])
# Replace the values in the 'column_name' column with the extracted values
df['V1'] = extracted_values

# Print the modified data
print(df)

                     V1        V2
0                  None  0.064449
1                  None  0.066077
2                  None  0.077837
3                  None  0.075245
4                  None  0.073350
..                  ...       ...
139  EpiAge8649025.cram  0.089607
140  EpiAge8649049.cram  0.083409
141  EpiAge8649049.cram  0.094410
142  EpiAge8649073.cram  0.094467
143  EpiAge8649073.cram  0.095523

[144 rows x 2 columns]

In [6]:
print( df['V1'].isnull().sum())

28

In [8]:
df_avg = df.groupby('V1', as_index=False).mean()

In [10]:
#save the df with change:
df_avg.to_csv('C:\\Users\\LENOVO\\Dropbox\\miniProject\\fix_meAge1.csv', index=False)